<h4><b>Pedidos em Preparo:</b></h4> 
<div class="tabela"> 
    <table>
        <thead>
            <tr>
               <th>Num Pedido</th>
               <th>Item</th>
               <th>Quantidade</th>            
               <th>Observação</th>
               <th>Valor</th>
               <th>Horário do Pedido</th>
               <th></th>
           </tr>
           </thead>

           <tbody>                   
            <tr style="border-radius:20px;">
                <input type="hidden" name="idItens" value="1">
                <input type="hidden" name="idPedido" value="1">
                <td data-title="Num Pedido">1</td>
                <td data-title="Item">X-Tudo</td>
                <td data-title="Quantidade">1</td>
                <td data-title="Obs"><textarea rows="1" readonly>Sem Barbecue sem isso sem aquilo sem isso também</textarea></td>
                <td data-title="Valor">R$ 28.99</td>
                <td data-title="Horário">21:54</td>
                <td class="editar">
                    <button (click)="openVerticallyCentered(content)" class='btn btn-info' data-toggle='modal' data-target="#alterarPedido">Editar</button>
                </td>
                <td>    
                    <button (click)="openVerticallyCentered(contentDelete)" class='btn btn-danger' data-toggle='modal' data-target='#cancelarPedido' style='margin-top: 10px;'>Cancelar</button>
                </td>
            </tr>
        </tbody>
        <ng-template #content let-modal>
            <app-modal-update
                idItem="1"
                idPedido="1"
                item="X-Tudo"
                quantidade="1"
                observacao="Sem Barbecue sem isso sem aquilo sem isso também"
                valor="28.99"
            >
            </app-modal-update>
        </ng-template>

        <ng-template #contentDelete let-modal>
            <app-modal-delete
                idPedido="1"
            ></app-modal-delete>
        </ng-template>
    </table>

    <table>
        <thead>
            <tr>
               <th>Num Pedido</th>
               <th>Item</th>
               <th>Quantidade</th>            
               <th>Observação</th>
               <th>Valor</th>
               <th>Horário do Pedido</th>
               <th></th>
           </tr>
           </thead>

            <tbody>                   
                <tr style="border-radius:20px;">
                    <input type="hidden" name="idItens" value="1">
                    <input type="hidden" name="idPedido" value="1">
                    <td data-title="Num Pedido">1</td>
                    <td data-title="Item">X-Tudo</td>
                    <td data-title="Quantidade">1</td>
                    <td data-title="Obs"><textarea rows="1" readonly>Sem Barbecue</textarea></td>
                    <td data-title="Valor">R$ 28.99</td>
                    <td data-title="Horário">21:54</td>
                    <td class="editar">
                        <button class='btn btn-info' data-toggle='modal' data-target="#alterarPedido">Editar</button>
                    </td>
                    <td>    
                        <button class='btn btn-danger' data-toggle='modal' data-target='#cancelarPedido' style='margin-top: 10px;'>Cancelar</button>
                    </td>
                </tr>
            </tbody> 

    </table>

    <table>
        <thead>
            <tr>
               <th>Num Pedido</th>
               <th>Item</th>
               <th>Quantidade</th>            
               <th>Observação</th>
               <th>Valor</th>
               <th>Horário do Pedido</th>
               <th></th>
           </tr>
           </thead>

            <tbody>                   
                <tr style="border-radius:20px;">
                    <input type="hidden" name="idItens" value="1">
                    <input type="hidden" name="idPedido" value="1">
                    <td data-title="Num Pedido">1</td>
                    <td data-title="Item">X-Tudo</td>
                    <td data-title="Quantidade">1</td>
                    <td data-title="Obs"><textarea rows="1" readonly>Sem Barbecue</textarea></td>
                    <td data-title="Valor">R$ 28.99</td>
                    <td data-title="Horário">21:54</td>
                    <td class="editar">
                        <button class='btn btn-info' data-toggle='modal' data-target="#alterarPedido">Editar</button>
                    </td>
                    <td>    
                        <button class='btn btn-danger' data-toggle='modal' data-target='#cancelarPedido' style='margin-top: 10px;'>Cancelar</button>
                    </td>
                </tr>
            </tbody> 

    </table>

    <table>
        <thead>
            <tr>
               <th>Num Pedido</th>
               <th>Item</th>
               <th>Quantidade</th>            
               <th>Observação</th>
               <th>Valor</th>
               <th>Horário do Pedido</th>
               <th></th>
           </tr>
           </thead>

            <tbody>                   
                <tr style="border-radius:20px;">
                    <input type="hidden" name="idItens" value="1">
                    <input type="hidden" name="idPedido" value="1">
                    <td data-title="Num Pedido">1</td>
                    <td data-title="Item">X-Tudo</td>
                    <td data-title="Quantidade">1</td>
                    <td data-title="Obs"><textarea rows="1" readonly>Sem Barbecue</textarea></td>
                    <td data-title="Valor">R$ 28.99</td>
                    <td data-title="Horário">21:54</td>
                    <td class="editar">
                        <button class='btn btn-info' data-toggle='modal' data-target="#alterarPedido">Editar</button>
                    </td>
                    <td>    
                        <button class='btn btn-danger' data-toggle='modal' data-target='#cancelarPedido' style='margin-top: 10px;'>Cancelar</button>
                    </td>
                </tr>
            </tbody> 

    </table>
</div>
